{% extends 'base.html' %}



{% block head_title %} {{page_title}} - {{ block.super }} {% endblock head_title %}


{% block content %}
<h1 class="text-lg font-medium">Users</h1>

{% if perms.auth %}
    {% if perms.auth.view_user %}
    <div>
            {% for instance in object_list %}
            <li><b><a href="/profiles/{{instance.username}}">{{ instance.username }}</a></b></li>

            {% endfor %}
    </div>
    {% endif %}
    {% else %}
    <div>You are not authorized to access users' list.</div>
{% endif %}
    

{% endblock content %}